<div class="products">
  <mat-card
    *ngFor="let product of getProducts()"
    class="product-item">
    <div class="row-with-two-elements">
      <div class="name">{{ product.name }}</div>
      <div class="number-items">{{ product.number_items }} items</div>
    </div>
    <img class="image" [src]="product.image_url" />
    <div class="description">{{ product.description }}</div>
    <div class="row-with-two-elements">
      <div class="price">{{ product.price }} EUR</div>
      <button
        mat-flat-button
        [disabled]="product.number_items === 0"
        (click)="$event.stopPropagation();handleBuyClick(product)"
        class="button"
        color="accent">
        Buy
      </button>
    </div>
  </mat-card>
</div>
