<mat-toolbar class="mat-elevation-z2" color="primary">
    <mat-toolbar-row>
      <div fxShow fxHide.gt-xs>
        <a
          mat-icon-button
          (click)="sidenav.toggle()">
          <mat-icon
            aria-hidden="false"
            aria-label="Menu icon"
            [matBadge]="getTotalCartItems() ? getTotalCartItems() : ''"
            matBadgeColor="accent"
            matBadgePosition="after"
            matBadgeSize="small">
            menu
          </mat-icon>
        </a>
      </div>
      <div routerLink="">
        <span class="title">{{ title }}</span>
      </div>
      <div fxShow fxHide.lt-sm>
        <button
          mat-button
          [class.active]="getCurrentUrl() == '/products'"
          routerLink="/products">
          <span>Products</span>
        </button>
        <button
          mat-button
          [class.active]="getCurrentUrl() == '/cart'"
          routerLink="/cart">
          <span
            [matBadge]="getTotalCartItems() ? getTotalCartItems() : ''"
            matBadgeColor="accent"
            matBadgePosition="after"
            matBadgeSize="small">
            Cart
          </span>
        </button>
      </div>
      <span class="fill-center"></span>
      <a
        mat-button
        href="https://github.com/seraco/eCommerceAngular"
        target="_blank">
        <img src="assets/GitHub-Mark-Light-64px.png" />
        GitHub
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <div mat-list-item>
          <button mat-button routerLink="/products">
            Products
          </button>
        </div>
        <div mat-list-item>
          <button mat-button routerLink="/cart">
            <span
              [matBadge]="getTotalCartItems() ? getTotalCartItems() : ''"
              matBadgeColor="accent"
              matBadgePosition="after"
              matBadgeSize="small">
                Cart
            </span>
          </button>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content-container">
          <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
